/*--------------
    RESET
--------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    FONT
--------------*/

*{
    font-family: sans-serif;
}

/*.article-desc{
    line-height: 1.5;
} */

.brand{
    font-size: 14px;
}

.article{
    font-size: 16px;
    font-weight: bold;
}

.discount-price{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.original-price{
    font-size: 14px;
    color: grey;
    font-weight: bold;
    text-decoration: line-through;
}

/*--------------
    GENERAL
--------------*/

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid{
    max-width: 100%;
}

/*--------------
    HEADER
--------------*/

header{
    background-color: orangered;
    width: 100%;
    min-height: 80px;
    margin-bottom: 20px;
}

/*--------------
    MAIN
--------------*/

.row{
    min-height: 400px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.col{
    width: calc(100% / 3);
    position: relative;
}


/*--------------
    DEBUG
--------------*/

.container{
    background-color: lightcoral;
}

.row{
    background-color: grey;
}

.col{
    background-color: aqua;
}